<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Leave Request</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">Employee</li>
            <li class="breadcrumb-item active">Leave Request</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Leave Requests List</h2>

          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover js-basic-example dataTable table-custom m-b-0 c_list">
                <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>#</th>
                  <th>Name</th>
                  <th>Employee ID</th>
                  <th>Leave Type</th>
                  <th>Date</th>
                  <th>Reason</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lq of leaveReqs; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td class="width45">
                    <img src="http://localhost:3000/employee/getAvatar?img={{this.absEmp[i].avatar}}" class="rounded-circle avatar" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0">{{this.absEmp[i].name}}</h6>
                  </td>
                  <td><span>{{this.absEmp[i].empid}}</span></td>
                  <td><span>{{lq.absencetype}}</span></td>
                  <td>from {{lq.fromdate}} TO {{lq.todate}}</td>
                  <td>{{lq.reason}}</td>

                  <td *ngIf="lq.etat== 'Pending response'"><button type="button" class="badge badge-primary" title="Approved" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><i class="fa fa-gavel" (click)="editLeaveReq(lq._id)"></i><span>Respond</span></button></td>
                  <td *ngIf="lq.etat== 'Request accepted'"><button type="button" class="btn btn-sm btn-success" title="Approved"><i class="fa fa-check-circle"></i><span>Accepted</span></button></td>
                  <td *ngIf="lq.etat== 'Request refused'"><button type="button" class="btn btn-danger" title="Declined"><i class="fa fa-ban"></i><span>Refused</span></button></td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div id="myModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" >
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mt-0">ACCEPT / REFUSE</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="acceptLeaveRequest()"><i class="fa fa-check-circle"></i> <span> ACCEPT</span></button>&nbsp;
                  <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="refuseLeaveRequest()"><i class="fa fa-warning"></i> <span> REFUSE</span></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                </div>
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Default Size -->


