<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Absences</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">Absences</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h6 class="text-danger"> X Absence requests found </h6>
            <ul class="header-dropdown">
              <li><a class="btn btn-info" data-toggle="modal" data-target="#Leave_Request">Add Leave Request</a></li>
            </ul>
            <br>

          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover dataTable">
                <thead class="thead-dark">
                <tr>
                  <th class="align-center"><input id="ligne_allchk_1" type="checkbox" onclick="checkAllActivity(this.checked,1,'tpsnormaux_ligne_1')" title="Selet All"></th>
                  <th class="align-center">Absence type</th>
                  <th class="align-center">Date</th>
                  <th class="align-center">Reason</th>
                  <th class="align-center">Validation</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ab of absences">
                  <th><input id="ligne_allchk_2" type="checkbox"></th>
                  <th>{{ab.absencetype}}</th>
                  <th>	{{ab.fromdate}} TO {{ab.todate}}</th>
                  <th>{{ab.reason}}</th>
                  <td  *ngIf="ab.etat== 'En attente de reponse'" > ><img src="../../../assets/images/icone_en_cours.png" alt="" width="20" height="20" align="middle"/></td>
                </tr>
                <tr>
                  <th><input id="ligne_allchk_3" type="checkbox"></th>
                  <th>Maladie</th>
                  <th>20 July, 2018 to 26 July, 2018</th>
                  <th>reason</th>
                  <td><img src="../../../assets/images/icone_valid.png" alt="" width="20" height="20" /></td>



                </tr>
                <tr *ngFor="let ab of absences">
                  <th>{{ab.absencetype}}</th>
                  <th>{{ab.fromdate}} TO {{ab.todate}}</th>
                  <th>{{ab.reason}}</th>
                  <th><img src="../../../assets/images/icone_nok.png" alt="" width="20" height="20" /></th>
                  <td *ngIf="p.etat== 'enregistré et non validé'" > <img src="../../../assets/images/icone_w8_4_answer.png" alt="" width="20" height="20" /></td>
                  <td *ngIf="p.etat== 'En attente de création'" > <img src="../../../assets/images/icone_en_cours.png" alt="" width="20" height="20" /></td>
                  <td *ngIf="p.etat== 'En attente de validation	'" > <img src="../../../assets/images/icone_w8_ok.png" alt="" width="20" height="20" /></td>
                  <td *ngIf="p.etat== 'Validation acceptée	' "> <img src="../../../assets/images/icone_valid.png" alt="" width="20" height="20" /></td>
                  <td *ngIf="p.etat== 'Validation refusée'" > <img src="../../../assets/images/icone_nok.png" alt="" width="20" height="20" /></td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <table>
        <tr><td width="30px">&nbsp;</td><small>Légende</small></tr>
        <tr>
          <td width="30px">&nbsp;</td>
          <td><img src="../../../assets/images/icone_en_cours.png" alt="" width="20" height="20" />En attente de création</td>
          <td width="30px">&nbsp;</td>
          <td><img src="../../../assets/images/icone_w8_4_answer.png" alt="" width="20" height="20" />Enregistré & non validé</td>
          <td width="30px">&nbsp;</td>
          <td><img src="../../../assets/images/icone_w8_ok.png" alt="" width="20" height="20" />En attente de validation</td>
          <td width="30px">&nbsp;</td>
          <td><img src="../../../assets/images/icone_valid.png" alt="" width="20" height="20" />Validation acceptée</td>
          <td width="30px">&nbsp;</td>
          <td><img src="../../../assets/images/icone_nok.png" alt="" width="20" height="20" />Validation refusée</td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</div>


<div class="modal animated lightSpeedIn" id="Leave_Request" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="title" id="defaultModalLabel">Add Leave Request</h6>
      </div>
      <div class="modal-body">
        <div class="row clearfix">
          <div class="col-md-12">
            <select class="form-control mb-3 show-tick"  [(ngModel)]="absencetype">
              <option>Casual Leave </option>
              <option>Medical Leave</option>
              <option>Maternity Leave</option>
            </select>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="date" data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="From *"  [(ngModel)]="fromdate">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input type="date" data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="To *" [(ngModel)]="todate">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea rows="6" class="form-control no-resize" placeholder="Leave Description *" [(ngModel)]="description"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea rows="2" class="form-control no-resize" placeholder="Leave Reason *" [(ngModel)]="reason"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addLeaveRequest()">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
