<link rel="stylesheet" href="../../../assets/css/bd/imanager.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="../../../assets/css/main.css">
<link rel="stylesheet" href="../../../assets/css/color_skins.css">

<!-- BD -->
<!--
<script type="text/javascript" src="../../../assets/js/bd/imanager.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/Wish_Forms.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/Wish_TabArrays.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/tempsfraisabsences.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/iManager_Competences.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/Wish_Calendar.js"></script>
<script type="text/javascript" src="../../../assets/js/bd/Wish_Horaires.js"></script>
-->

<!--<script type="text/javascript">
  var liste_typeh = {'1':'Normale','2':'Congés (CP, RTT)','5':'Maladie','8':'Logiclever','9':'Formation','3':'Congés non décomptés','4':'Congés maternité','10':'Astreinte (recup en salaire)','7':'Astreinte (recup en congés)'};
  var wforms = new Wish_Forms('fr');
  function changeLigneProjet(ligne, idseltypeh) {
    wforms.remove_liste(idseltypeh);
    switch(ligne.value) {
      case '-1':				wforms.add_option(idseltypeh, 'Congés (CP, RTT)', '2');				wforms.add_option(idseltypeh, 'Maladie', '5');				wforms.add_option(idseltypeh, 'Congés non décomptés', '3');				wforms.add_option(idseltypeh, 'Congés maternité', '4');				break;
      case '-2':				wforms.add_option(idseltypeh, 'Logiclever', '8');				wforms.add_option(idseltypeh, 'Formation', '9');				break;
      default:				wforms.add_option(idseltypeh, 'Normale', '1');				wforms.add_option(idseltypeh, 'Astreinte (recup en salaire)', '10');				wforms.add_option(idseltypeh, 'Astreinte (recup en congés)', '7');				break;
    }
    if(!window.ActiveXObject) document.getElementById(idseltypeh).focus();
  }
  function checkAvailableNormale(selPrj, idligne) {
    switch(selPrj.value) {
      default:
        document.getElementById(idligne+'_0').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_1').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_2').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_3').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_4').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_5').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_6').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_7').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_8').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_9').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_10').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_11').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_12').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_13').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_14').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_15').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_16').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_17').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_18').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_19').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_20').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_21').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_22').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_23').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_24').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_25').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_26').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_27').className = 'bg_alterne_ouvre';
        document.getElementById(idligne+'_28').className = 'bg_alterne_weekend';
        document.getElementById(idligne+'_29').className = 'bg_alterne_weekend';
        break;
    }
  }

</script>-->

<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">

      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
            class="fa fa-arrow-left"></i></a>Time Sheet</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">TimeSheet</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="header">
            <h2>New TimeSheet</h2><br>

          </div>
          <div class="body">
            <div class="table-responsive">

            <div class="row clearfix">
              <div class="maincontent">

                <div class="big_bloc">
                  <!--<h3 class="header_bloc">Fiche temps - SABRI Youssef</h3>-->
                  <div class="contenu_bloc">

                    <table width="100%">
                      <tbody><tr>
                        <td width="150px"></td>
                        <td width="90px;"><a   *ngIf="this.iddoc != undefined"  class="bnavigation bnavlittletxt" href="" style="background-image:url(../../../assets/images/voir_pdfinterne.png);">Interne</a></td>
                        <td width="90px;"><a    *ngIf="this.iddoc != undefined"   class="bnavigation bnavlittletxt" href="" style="background-image:url(../../../assets/images/voir_pdfexterne.png);">Client</a></td>
                        <td>&nbsp;</td>
                        <td width="90px"></td>
                        <td width="90px"><a  *ngIf="this.iddoc != undefined" class="bnavigation bnavlittletxt" href="" style="background-image:url(../../../assets/images/icone_valid.png);">Validate</a></td>
                        <td width="90px"></td>
                        <td width="35px">&nbsp;</td>
                        <td width="95px"><input class="bactionico bsave" (click)="addactivity()" type="submit" value="Save"></td>
                        <td width="75px"><a class="bnavigation breturn"  href="javascript:history.go(-1)">Return</a></td>
                      </tr>
                      </tbody>
                    </table>
                    <br>
                    <table width="100%">
                      <tbody><tr class="bg_alterne_soft_full">
                        <td width="100px"><strong>Ressource&nbsp;:</strong></td>
                        <td width="150px" align="left"><a class="lien" href="">{{this.user.name}}</a></td>
                        <td width="100px"><strong>Période&nbsp;:</strong></td>
                        <td width="150px" align="left"> Octobre 2018</td>
                        <td width="100px"><strong>Agence :</strong></td>
                        <td width="150px" align="left">AGENCE</td>
                        <td width="170px"><strong>Unité d'oeuvre moyenne :</strong></td>
                        <td width="100px" align="left">1&nbsp;u.o/jour</td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <br>
                    <table width="100%">
                      <tbody id="tpsnormaux_body">
                      <tr><th class="bg_h4" colspan="33">Activité Normale</th></tr>
                      <tr>
                        <th class="text-primary" style="min-width:180px;" scope="col">Projet/Type d'activité</th>
                        <th width="30px" *ngFor="let d of tabday" class="text-primary">{{d}}</th>

                        <th width="25px" scope="col">&nbsp;</th>
                      </tr>
                      <tr *ngFor="let t of tabact ; let i= index;"  class="bg_alterne_soft_full" id="tpsnormaux_ligne_1">
                        <td>
                          <input type="text" class="hiddeninput" name="ligne_idtemps[]" value="0">
                          <select class="normalsmallselection"   [(ngModel)]="valeur" style="max-width:none;min-width:100%;width:100%" name="valeur" id="ligne_prj_1" (change)="gettype(valeur,i)">
                            <option >Absence</option>
                            <option >Interne</option>
                            <option *ngFor="let p of projects" [value]="p._id">{{p.name}}</option>
                          </select><br>
                          <select class="shortsmallselection"   [(ngModel)]="type" style="max-width:none;min-width:70%;width:70%" name="type" id="ligne_typeh_1" (change)="savetype(type , i)">
                            <option></option>
                            <option *ngFor="let t of types">{{t}}</option>

                          </select>&nbsp;
                          <input id="ligne_allchk_1" type="checkbox" onclick="checkAllActivity(this.checked,1,'tpsnormaux_ligne_1')" title="Remplir/Vider tous les jours ouvrés">
                        </td>

                        <td  *ngFor="let t of tabday ; let j =index " class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_0">
                          <input name="day" [(ngModel)]="t[j]" id="ligne_txt_1_0" type="text" class="veryveryshortinput" (change)="getdays(i,t , t[j])" value="" maxlength="5">
                        </td>
                        <!--<td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_1">
                          <input name="ligne_txt_1[]" id="ligne_txt_1_1" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_holliday" id="tpsnormaux_ligne_1_2">
                          <input name="ligne_txt_2[]" id="ligne_txt_1_2" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_3">
                          <input name="ligne_txt_3[]" id="ligne_txt_1_3" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_4">
                          <input name="ligne_txt_4[]" id="ligne_txt_1_4" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_5">
                          <input name="ligne_txt_5[]" id="ligne_txt_1_5" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_6">
                          <input name="ligne_txt_6[]" id="ligne_txt_1_6" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_7">
                          <input name="ligne_txt_7[]" id="ligne_txt_1_7" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_8">
                          <input name="ligne_txt_8[]" id="ligne_txt_1_8" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_9">
                          <input name="ligne_txt_9[]" id="ligne_txt_1_9" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_10">
                          <input name="ligne_txt_10[]" id="ligne_txt_1_10" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_11">
                          <input name="ligne_txt_11[]" id="ligne_txt_1_11" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_12">
                          <input name="ligne_txt_12[]" id="ligne_txt_1_12" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_13">
                          <input name="ligne_txt_13[]" id="ligne_txt_1_13" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_14">
                          <input name="ligne_txt_14[]" id="ligne_txt_1_14" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_15">
                          <input name="ligne_txt_15[]" id="ligne_txt_1_15" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_16">
                          <input name="ligne_txt_16[]" id="ligne_txt_1_16" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_17">
                          <input name="ligne_txt_17[]" id="ligne_txt_1_17" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_18">
                          <input name="ligne_txt_18[]" id="ligne_txt_1_18" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_19">
                          <input name="ligne_txt_19[]" id="ligne_txt_1_19" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_20">
                          <input name="ligne_txt_20[]" id="ligne_txt_1_20" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_21">
                          <input name="ligne_txt_21[]" id="ligne_txt_1_21" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_22">
                          <input name="ligne_txt_22[]" id="ligne_txt_1_22" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_23">
                          <input name="ligne_txt_23[]" id="ligne_txt_1_23" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_24">
                          <input name="ligne_txt_24[]" id="ligne_txt_1_24" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_25">
                          <input name="ligne_txt_25[]" id="ligne_txt_1_25" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_26">
                          <input name="ligne_txt_26[]" id="ligne_txt_1_26" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_weekend" id="tpsnormaux_ligne_1_27">
                          <input name="ligne_txt_27[]" id="ligne_txt_1_27" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_28">
                          <input name="ligne_txt_28[]" id="ligne_txt_1_28" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_29">
                          <input name="ligne_txt_29[]" id="ligne_txt_1_29" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>
                        <td class="bg_alterne_ouvre" id="tpsnormaux_ligne_1_30">
                          <input name="ligne_txt_30[]" id="ligne_txt_1_30" type="text" class="veryveryshortinput" value="" maxlength="5">
                        </td>-->
                        <td width="25px" colspan="32"><a (click)="removeligne(i)"><img src="../../../assets/images/supp.png" alt="Delete" title="Delete"></a>
                        </td>
                      </tr>

                      <tr class="bg_alterne_soft_full">
                        <td colspan="32">&nbsp;</td>
                        <td width="25px"><a (click)="addligne()"><img src="../../../assets/images/add.png" alt="Add" title="Add"></a></td>
                      </tr>

                      </tbody>
                    </table>
                    <span class="legende">Nb de jours ouvrés : 23</span><br>
                    <br>
                    <table *ngIf="this.iddoc != undefined" width="100%">
                      <tbody><tr><th class="bg_h4" colspan="14">Totaux</th></tr>
                      </tbody>
                    </table>
                    <table *ngIf="this.iddoc != undefined" width="330px" style="float:left">
                      <tbody>
                      <tr><th class="text-primary" style="min-width:300px;" scope="col" colspan="3">Production</th><th width="30px">&nbsp;</th></tr>
                      <tr>
                        <td class="bg_alterne_soft_start"><strong>TOTAL</strong></td>
                        <td class="bg_alterne_hard" width="40px"><strong>22 u.o</strong></td>
                        <td class="bg_alterne_soft_end" width="40px"><strong>22 jrs</strong></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="bg_alterne_soft_start">Normale<br><span class="legende">YSA - Control-M AIT - DALKIA France</span></td>
                        <td class="bg_alterne_hard" width="40px">22 u.o</td>
                        <td class="bg_alterne_soft_end" width="40px">22 jrs</td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <table *ngIf="this.iddoc != undefined" width="330px" style="float:left">
                      <tbody><tr><th class="text-primary" style="min-width:300px;" scope="col" colspan="3">Absence</th><th width="30px">&nbsp;</th></tr>
                      <tr>
                        <td class="bg_alterne_soft_start"><strong>TOTAL</strong></td>
                        <td class="bg_alterne_hard" width="40px"><strong>0 u.o</strong></td>
                        <td class="bg_alterne_soft_end" width="40px"><strong>0 jrs</strong></td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <table *ngIf="this.iddoc != undefined" width="330px" style="float:left">
                      <tbody><tr><th class="text-primary" style="min-width:300px;" scope="col" colspan="3">Interne</th><th width="30px">&nbsp;</th></tr>
                      <tr>
                        <td class="bg_alterne_soft_start"><strong>TOTAL</strong></td>
                        <td class="bg_alterne_hard" width="40px"><strong>0 u.o</strong></td>
                        <td class="bg_alterne_soft_end" width="40px"><strong>0 jrs</strong></td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <table *ngIf="this.iddoc != undefined" width="200px" style="float:left">
                      <tbody><tr><th    class="text-primary" style="min-width:200px;" scope="col" colspan="2">TOTAL</th></tr>
                      <tr>
                        <td class="bg_alterne_hard">22 u.o</td>
                        <td class="bg_alterne_soft_end">22 jrs</td>
                      </tr>
                      </tbody>
                    </table>
                    <p style="clear:both">&nbsp;</p>
                    <table width="41%" style="float:left">
                      <tbody>
                      <tr><th class="bg_h4">Commentaires</th></tr>
                      <tr>
                        <td align="center">
                          <textarea class="normalarea" name="commentaires" id="commentaires"></textarea>
                          <div class="legende"><span id="decompte_commentaires">500</span> caractères restants</div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <input type="text" name="save" class="hiddeninput" value="save">


                    <table  *ngIf="this.iddoc != undefined"  width="55%" style="float:right">
                      <tbody id="file_body">
                      <tr><th class="bg_h4" colspan="2">Pièces Jointes</th></tr>
                      <tr class="bg_alterne_soft_full" id="file_ligne_1"><td width="220px">CRA_YSA_Juillet.pdf</td><td><a class="bnavigationico" style="float:left" href="https://app.boondmanager.com/tableau-de-bord/fiche-temps?vtype=fichier&amp;id=339&amp;idfile=723&amp;onglet=0"><img src="../../../assets/images/fichier.png" alt="Télécharger document" title="Télécharger"></a><span class="progress_bar" id="progress_bar_1" style="float:left"><img src="../../../assets/images/loader.gif"></span></td></tr>
                      <tr class="bg_alterne_soft_full" id="file_ligne_2"><td width="220px">fact_imaxit_008082018.pdf</td><td><a class="bnavigationico" style="float:left" href="https://app.boondmanager.com/tableau-de-bord/fiche-temps?vtype=fichier&amp;id=339&amp;idfile=724&amp;onglet=0"><img src="../../../assets/images/fichier.png" alt="Télécharger document" title="Télécharger"></a><span class="progress_bar" id="progress_bar_2" style="float:left"><img src="../../../assets/images/loader.gif"></span></td></tr>
                      <tr class="bg_alterne_soft_full" id="file_ligne_3"><td width="100%" colspan="2">
                        <div id="file_update" action="https://app.boondmanager.com/tableau-de-bord/fiche-temps?vtype=updatefile&amp;todo=join&amp;id=339&amp;index=3&amp;onglet=0" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="Wish_StartUpload(3);">
                          <input type="file" name="file" style="float:left;margin-right:3px;">
                        </div>
                      </td></tr>
                      </tbody>
                    </table>
                    <p style="clear:both">&nbsp;</p>

                    <table *ngIf="this.iddoc != undefined" width="100%"><tr><th class="bg_h4">Validations</th></tr></table>
                    <br/>
                    <table *ngIf="this.iddoc != undefined">
                      <tr>
                        <td width="180px" class="bg_alterne_soft_full">
                          <table width="180px">
                            <tr>
                              <td align="left"><strong>Validation 1</strong><br/>Youssef SABRI<br/><span class="legende">Senior</span></td>
                              <td></td>
                            </tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2" align="left"><strong>Date :</strong>&nbsp;08/08/2018</td></tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2" align="left"><strong>Signature :</strong><img style="margin-left:30px" src="../../../assets/images/icone_valid.png" alt="Validation OK" /></td></tr>
                          </table>
                        </td>
                        <td width="50px">&nbsp;</td>
                        <td width="180px" class="bg_alterne_soft_full">
                          <table width="180px">
                            <tr>
                              <td align="left"><strong>Validation 2</strong><br/>Julien BOURLON<br/><span class="legende">Expert</span></td>
                              <td></td>
                            </tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2" align="left"><strong>Date :</strong>&nbsp;08/08/2018</td></tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2" align="left"><strong>Signature :</strong><img style="margin-left:30px" src="../../../assets/images/icone_valid.png" alt="Validation OK" /></td></tr>
                          </table>
                        </td>
                        <td width="50px">&nbsp;</td>
                      </tr>
                    </table>
                    <br/>

                    <table>
                      <tbody>
                      <tr>
                        <td><strong class="text-primary">Circuit de validation en cours</strong></td>
                        <td><span class="legende" style="margin-left:30px">{{this.user.name}} &gt; Julien BOURLON</span></td>
                      </tr>
                      </tbody>
                    </table>


                  </div>
                </div>

              </div>

            </div>


            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


