<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Add Clients</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">Clients</li>
            <li class="breadcrumb-item active">Add</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-12">
        <div class="card">
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" [(ngModel)]="firstname">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastname">
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email ID *" [(ngModel)]="email">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Company Name *" [(ngModel)]="company">
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile No" [(ngModel)]="phone">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Client ID *" [(ngModel)]="clientid">
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address" [(ngModel)]="address">
                </div>
              </div>
              <!--<div class="col-12">
                <h6>Module Permission</h6>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Read</th>
                      <th>Write</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Projects</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>Tasks</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox">
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>Chat</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox">
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox">
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>Estimates</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox" checked>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input class="checkbox-tick" type="checkbox" name="checkbox">
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>-->
            </div>
            <button type="button" class="btn btn-primary" (click)="addClient()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
